.buttons{
    color: aqua;
    font-size: 24px;
    font-style: "Times New Roman";
    height: 50px;
}

.labels{
    font-size: 50px;
}

body{
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}
